.container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #A8D5BA, #F4D1B0, #C1A68A);
    z-index: 1;
}

.box {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
}
#text{
    font-size: 50px;
}
.tristcontain {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}
.blitz {
    position: absolute;
    top: 5%;
    left: 40%;
    z-index: 10;
}
@media (max-width: 1100px) {
    .tristcontain {
        width: 200px;
        height: 350px;
        bottom: 0px;
        left: 0;
    }

    #trist {
        width: 300px;
        height: 350px;
    }

    .box {
        width: 50%;
        height: 25%;
        top: 30%;
    }

    .container {
        height: 110%;
        width: 100%;
    }

    .blitz {
        position: absolute;
        right: 300px;
    }

    #boi {
        left: 30%;
    }
}